<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="projectConnectionString" connectionString="Data Source=C501A14;Initial Catalog=project;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="projectConnectionString2" connectionString="Data Source=DESKTOP-4OD0DP3\TEW_SQLEXPRESS;Initial Catalog=project;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>